@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto+Slab:wght@500&display=swap');
$font-title: 'Roboto Slab', serif;
$font-main: 'Raleway', sans-serif;

/* utility classes */
.container {
  padding: 1rem;
  font-family: $font-main;
  line-height: 1.6;
  letter-spacing: 0.05rem;
}

.split {
  display: flex;
  gap: 2rem;
}

/* Form styling */
.form {
  padding: 3rem;
  background-image: linear-gradient(30deg, white, #e6e8ee, white);
  box-shadow: inset 0 0 10px #dcdde1;
  border-radius: 1rem;
  border: 1px solid #dcdde1;

  legend {
    font-family: $font-title;
    font-size: 1.3rem;
    color: #273c75;
  }

  feildset > * + * {
    margin-top: 1rem;
  }
}

.header {
  color: #273c75;
  font-family: $font-title;
  text-align: center;
  font-size: 3rem;
}

@media (min-width: 1000px) {
  .container {
    width: 80vw;
    max-width: 1200px;
    margin: auto;
  }
}

.submit {
  font-family: $font-title;
  margin-top: 2rem;
  padding: 1em 3em;
  border-radius: 0.3rem;
  background: #273c75;
  color: white;
  border: none;
  cursor: pointer;
}

/* Parallax Page */

.parallax {
  perspective: 2px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  h1 {
    font-size: 4rem;
    font-family: $font-title;
    color: black;
    position: absolute;
    top: 4rem;
    text-shadow: none;
  }
}

.section {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  display: flex;
}

.front {
  object-fit: cover;
}

.middle {
  transform: translateZ(-1px) scale(1.6) translateY(2rem);
  filter: invert(55%) sepia(100%) saturate(500%) hue-rotate(345deg)
    brightness(80%) contrast(88%);
  object-fit: cover;
}

.back {
  transform: translateZ(-2px) scale(2.4);
  filter: invert(81%) sepia(100%) saturate(1000%) hue-rotate(305deg)
    brightness(100%) contrast(101%);
  object-fit: cover;
}

.static {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  z-index: 2;
  h2 {
    color: #f39c12;
  }
}
